venv/
__pycache__/
.env
.idea/
.DS_Store
notes.txt
app/.DS_Store
static/.DS_Store
templates/.DS_Store

app/static/__pycache__/
app/templates/__pycache__/
app/static/node_modules/
app/static/package.json
app/static/package-lock.json
app/static/tailwind.config.js
app/static/src/
app/static/css/main.css
app/static/templates/

data/

app/cobadash.py
app/dashappexample.py
app/fastapidash.py
app/filter_dash_datatable.py
app/module.py
app/mongodb.py
app/pepotest.py
app/sort_filter_select.py

.dockerignore

notes.txt




