{% extends 'layout.html' %}

{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<div class="bg-gradient-to-br from-green-500 to-yellow-400 mt-8 mb-8 py-2">
    <div class="container max-w-5xl mx-auto px-4">
        <div class="w-4/5">
            <h1 class="mt-32 text-white text-6xl font-bold">Sistem Standarisasi Nomenklatur APBD <br/>
                <span class="text-green-800">[ SISNA ]</span></h1>
        </div>
        <div class="w-5/6 my-10 ml-6">
            <h3 class="text-gray-300">
                Standardization of the nomenclature code for APBD data throughout Indonesia, and <br/>
                <strong class="text-white">Find in-depth analysis of APBD data using Machine Learning and Deep Learning Tools, and </strong>
                <br/>description analysis of APBD data. Take a closer look at the APBD data.
            </h3>
        </div>
        <div class="hidden sm:block opacity-50 z-0">
            <div class="shadow-2xl w-96 h-96 rounded-full -mt-72"></div>
            <div class="shadow-2xl w-96 h-96 rounded-full -mt-96"></div>
            <div class="shadow-xl w-80 h-80 rounded-full ml-8 -mt-96"></div>
        </div>

        <div class="flex justify-center items-center mb-10 py-4">
            <a href="/signin" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-700 bg-green-700 transition duration-150 ease-in-out hover:bg-green-600 lg:text-xl lg:font-bold  rounded text-white px-4 sm:px-10 border border-green-700 py-2 sm:py-4 text-sm">
                Get Started
            </a>
        </div>

    </div>
</div>

{% endblock %}